<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Eventos GTD</h1>
            <h3 class="mb-5">
                <em>Almacena todas tus ticket de eventos</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/tickets">
                Ver Tickets
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>